{{>layout/header}}
    <h1>AMF Booklist</h1>
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6">
                <a href="/books/save" role="button" class="btn-primary">Add Book</a>
            </div>
        </div>
        <br>
        <!-- 도서 목록 출력 영역 -->
        <table class="table table-horizontal table-bordered">
            <thread class="thead-strong">
                <tr>
                    <th>#</th>
                    <th>Title</th>                    
                    <th>Category</th>                   
                    <th>RentStatus</th>
                    <th>Author</th>
                    <th>Modified Date</th>
                </tr>
            </thread>
            <tbody id="tbody">
            <!-- books 라는 List를 순회한다 -->
            {{#books}}
                <tr>
                    <td>{{id}}</td>
                    <td><a href="books/update/{{id}}">{{title}}</a></td>                    
                    <td>{{category}}</td>                  
                    <td>{{rentStatus}}</td>
                    <td>{{author}}</td>
                    <td>{{modifiedDate}}</td>
                </tr>
            {{/books}}
            </tbody>
        </table>
    </div>

{{>layout/footer}}
